.header{
    text-align: center;
    background-color: white;
}
.header_logo{
    padding: 25px 0 15px 0;
    margin-bottom: 1px;
    box-shadow: 0px 5px 5px #7c7a7a4d;

    & img{
        transform: scale(0.8);
    }
}