.heart {
  @extend %flex-center;
}
.heart-ico {
  font-size: 25px;
  transition: 1.1s;
}
.heart-anim {
  position: relative;
  left: -19px;
  top: 1px;
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
  cursor: pointer;
}
.heart-anim::before {
  @include pseudo-element($t: -60%);
  border-radius: 50%;
}
.heart-anim:after {
  @include pseudo-element($l: -60%);
  border-radius: 50%;
}
