.loader-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;

  animation: loader-bg linear;
  animation-duration: 0.4s;
  animation-delay: 0.9s;
  animation-fill-mode: both;
}
.loader-bg:after {
  @include pseudo-element($size: 100px, $t: 50%, $l: 50%);
  margin-left: -50px;
  margin-top: -50px;

  border-radius: 100px;
  border: 5px solid transparent;
  border-top-color: $colour-secondary;
  border-bottom-color: $colour-tertiary;

  animation: loader linear;
  animation-duration: 0.7s;
  animation-iteration-count: 2;
}
