body {
  box-sizing: border-box;
  min-width: 320px;
}
.bloc {
  width: 90%;
  margin: auto;
}

@mixin pseudo-element($size: 100%, $t: 0, $r: 0, $l: 0, $b: 0) {
  content: "";
  width: $size;
  height: $size;

  position: absolute;
  top: $t;
  right: $r;
  left: $l;
  bottom: $b;
}

@mixin font($s, $w) {
  font-size: $s;
  font-weight: $w;
}

%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
