.position{
    display: flex;
    justify-content: center;
    padding: 15px 0;
    background-color: #7c7a7a23;
    &--city{
        font-size: 18px;
        margin-left: 20px;
    }
}
.presentation{   
    padding: 50px 0;
    background-color: #f7f7f7;
    text-align: center;

    &--title{
        width: 75%;
        margin: auto;
        font-size: 26px;
        font-weight: 500;
        margin-bottom: 15px;
    }
    &--subtitle{
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 30px;
    }
}
.operation{
    display: flex;
    flex-direction: column;
    padding: 50px 0;

    &_listings{
        list-style: none;
        counter-reset: compteListe;
        position: relative;
    }
    &_listing{
        display: flex;
        justify-content: space-between;
        align-self: flex-end;
        background-color: #f7f7f7;
        padding: 25px 50px;
        width: 95%;
        border-radius: 25px;
        margin-top: 20px;
        box-shadow: 0px 5px 10px #7c7a7a4d;
        font-weight: 500;

        &::before {
            counter-increment: compteListe 1;
            content: counter(compteListe) " ";
            background: $colour-primary;
            height: 1.5rem;
            width: 1.5rem;
            border-radius: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            position: absolute;
            left: -10px;
        }
        &--ico{
            position: absolute;
            left: 40px;
        }
        &--title{
            margin-left: 30px;
        }
    }
}
.rest--background{
    background-color: whitesmoke;
}
.rest{
    display: flex;
    flex-direction: column;
    padding: 50px 0;

    &_menu{
        margin-top: 20px;
        border-radius: 15px;
        background-color: white;
        box-shadow: 0px 2px 5px #7c7a7a4d;
        
        &--img{
            object-fit: cover;
            width: 100%;
            height: 150px;
            border-radius: 15px 15px 0 0;
        }

        &_desc{
            padding: 15px;

            &--title{
                font-weight: 600;
                font-size: 18px;
                margin-bottom: 3px;
            }
            &--subtitle{
                font-weight: 300;
            }
        }
    }
}