.position {
  @extend %flex-center;
  padding: 15px 0;
  background-color: #eaeaea;

  &--city {
    @include font($s: 18px, $w: 400);
    margin-left: 20px;
  }
}
.presentation {
  padding: 50px 0;
  background-color: #f6f6f6;
  text-align: center;

  &--title {
    @include font($s: 26px, $w: 500);
    width: 75%;
    margin: auto;
    margin-bottom: 15px;
  }
  &--subtitle {
    @include font($s: 20px, $w: 300);
    margin-bottom: 30px;
  }
}
.operation {
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  counter-reset: compteListe;

  &__listings {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
  }
  &__listing {
    @include font($s: 16px, $w: 500);
    display: flex;
    justify-content: space-between;
    background-color: #f7f7f7;
    padding: 25px 50px;
    padding-right: 0;
    width: 100%;
    border-radius: 25px;
    margin-top: 20px;
    box-shadow: 0px 5px 10px #7c7a7a4d;
    position: relative;

    &::before {
      @extend %flex-center;
      background: $colour-primary;
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 100px;
      color: white;

      position: absolute;
      left: -10px;

      counter-increment: compteListe 1;
      content: counter(compteListe) " ";
    }

    &--ico {
      position: absolute;
      left: 40px;
      color: #808080;
    }

    &--title {
      margin-left: 30px;
    }
  }
}
.listing__active {
  background-color: #9256dc18;

  &--ico {
    color: $colour-primary;
  }
}
@media screen and (min-width: 450px) {
  .operation {
    &__listings {
      justify-content: center;
    }
    &__listing {
      width: 70%;
    }
  }
}
@media screen and (min-width: 1000px) {
  .operation {
    &__listings {
      justify-content: space-between;
    }
    &__listing {
      width: 30%;
    }
  }
}
.restaurants--background {
  background-color: #f6f6f6;
}
.restaurants {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 0;

  &__menu {
    margin-top: 20px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 2px 5px #7c7a7a4d;
    width: 100%;
    position: relative;

    &--img {
      object-fit: cover;
      width: 100%;
      height: 150px;
      border-radius: 15px 15px 0 0;
      transition: 0.3s;
    }
    &--img:hover {
      filter: contrast(150%);
    }
    &__new {
      position: absolute;
      right: 20px;
      top: 20px;
      background-color: #99e2d0;
      color: #008766;
      z-index: 1;
      padding: 7px;
      @include font($s: 16px, $w: 500);
      border-radius: 2px;
    }
    &__desc {
      padding: 15px;
      position: relative;

      &--title {
        @include font($s: 18px, $w: 600);
        margin-bottom: 3px;
      }

      &--subtitle {
        @include font($s: 16px, $w: 300);
      }
    }
  }
}
@media screen and (min-width: 600px) {
  .restaurants--title {
    width: 100%;
  }
  .restaurants__menu {
    width: 45%;
  }
}
@media screen and (min-width: 1200px) {
  .restaurants__menu--img {
    height: 200px;
  }
}
