.main--background {
  background-color: rgb(231, 231, 231);
}
.main--form {
  padding-top: 30px;
  background-color: rgb(231, 231, 231);
  border-radius: 50px 50px 0 0;
  position: relative;
  top: -70px;
}
.menu--title {
  font-size: 26px;
}
.menu {
  margin-top: 25px;

  &--subtitle {
    &::after {
      content: "";
      display: block;
      width: 40px;
      height: 2px;
      background-color: $colour-tertiary;
    }
  }
  &_choix {
    padding: 10px;
    border-radius: 20px;
    background-color: white;
    margin-top: 15px;

    &--title {
      font-weight: 500;
      margin-bottom: 5px;
    }
    &--subtitle {
      font-weight: 300;
      font-size: 14px;
    }
  }
}
