// ANIMATION MENU DEVOILEMENT
@keyframes anim-menu {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
@for $i from 1 through 9 {
  .anim-#{$i} {
    animation: anim-menu;
    animation-delay: #{$i / 3}s;
    animation-duration: #{$i / 3}s;
    animation-fill-mode: both;
  }
}

// ANIMATION COEUR
.heart:hover .heart--anim,
.heart:hover .heart--anim::after,
.heart:hover .heart--anim::before {
  animation: heart 0.2s;
  animation-fill-mode: both;
}
.heart:hover .heart--anim::after {
  animation-delay: 0.1s;
}
.heart:hover .heart--anim::before {
  animation-delay: 0.2s;
}
@keyframes heart {
  to {
    background-color: #9356dc;
    opacity: 1;
  }
}

// ANIMATION LOADER
@keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes loader-bg {
  0% {
    opacity: 1;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
